body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: linear-gradient(90deg, #c664c1 0%, #1286d5 100%);
  background-size: 400% 400%;
  animation: bgAnimation 30s ease infinite;
}

@keyframes bgAnimation {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}